# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
rpn_evaluate
gui

# Vim swap files
*.swp

# YouCompleteMe files
.ycm_extra_conf.py
__pycache__

# Personal scratch file
PersonalNotes

# Meson build directory
build

# Generated ctags file
tags
